/* color palette from <https://github.com/vuejs/theme> */
:root {
  --vt-c-white: #ffffff;
  --vt-c-white-soft: #f8f8f8;
  --vt-c-white-mute: #f2f2f2;

  --vt-c-black: #181818;
  --vt-c-black-soft: #222222;
  --vt-c-black-mute: #282828;

  --vt-c-indigo: #2c3e50;

  --vt-c-divider-light-1: rgba(60, 60, 60, 0.29);
  --vt-c-divider-light-2: rgba(60, 60, 60, 0.12);
  --vt-c-divider-dark-1: rgba(84, 84, 84, 0.65);
  --vt-c-divider-dark-2: rgba(84, 84, 84, 0.48);

  --vt-c-text-light-1: #001133;
  --vt-c-text-light-2: #989EAA;
  --vt-c-text-dark-1: var(--vt-c-white);
  --vt-c-text-dark-2: rgba(235, 235, 235, 0.64);

  --ds-selected-item-light: #C3E0FC;
  --ds-selected-item-dark: #1a3959;
  --ds-hover-item-light: #E3F0FE;
  --ds-hover-item-dark: #0b1a29;

  --coldest-light: #E3F0FE;
  --cold-light: #C3E0FC;
  --average-light: #CDF0EB;
  --warm-light: #FFF4DA;
  --hot-light: #FDD4D7;

  --coldest-dark: #1e293b;
  --cold-dark: #1e3a8a;
  --average-dark: #065f46;
  --warm-dark: #854d0e;
  --hot-dark: #991b1b;
}

/* semantic color variables for this project */
:root {
  --color-background: var(--vt-c-white);
  --color-background-soft: var(--vt-c-white-soft);
  --color-background-mute: var(--vt-c-white-mute);

  --color-border: var(--vt-c-divider-light-2);
  --color-border-hover: var(--vt-c-divider-light-1);

  --color-heading: var(--vt-c-text-light-1);
  --color-text: var(--vt-c-text-light-1);
  --color-text-soft: var(--vt-c-text-light-2);

  --section-gap: 160px;

  --color-card-background: #ffffff;
  --color-card-shadow: rgba(0, 0, 0, 0.1);
  --color-item-background: #ffffff;
  --color-link: #00bd7e;
  --color-link-hover: #00e096;

  --color-selected-city: var(--ds-selected-item-light);
  --color-hover-city: var(--ds-hover-item-light);

  --color-coldest: var(--coldest-light);
  --color-cold: var(--cold-light);
  --color-average: var(--average-light);
  --color-warm: var(--warm-light);
  --color-hot: var(--hot-light);

  --font-weight-semi-bold: 600;
}

[data-theme='dark'] {
  --color-background: var(--vt-c-black);
  --color-background-soft: var(--vt-c-black-soft);
  --color-background-mute: var(--vt-c-black-mute);

  --color-border: var(--vt-c-divider-dark-2);
  --color-border-hover: var(--vt-c-divider-dark-1);

  --color-heading: var(--vt-c-text-dark-1);
  --color-text: var(--vt-c-text-dark-1);
  --color-text-soft: var(--vt-c-text-dark-2);

  --color-card-background: var(--vt-c-black-soft);
  --color-card-shadow: rgba(0, 0, 0, 0.5);
  --color-item-background: var(--vt-c-black-mute);
  --color-link: #42d392;
  --color-link-hover: #35eb9a;

  --color-selected-city: var(--ds-selected-item-dark);
  --color-hover-city: var(--ds-hover-item-dark);

  --color-coldest: var(--coldest-dark);
  --color-cold: var(--cold-dark);
  --color-average: var(--average-dark);
  --color-warm: var(--warm-dark);
  --color-hot: var(--hot-dark);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
